// SECTION
section {
    padding: 40px 0;

    .title-section {
        text-transform: uppercase;
        text-align: center;
        font-size: calc(1.305rem + 0.66vw);
        font-weight: bold;
    }
}

// CARD
.card {
    background-color: $light-gray;
}

.card-login {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    background-color: $light-gray;
    border: 0;
    padding-bottom: 24px;
    box-shadow: 0 0.125rem 0.25rem rgba($color: $black, $alpha: 0.075);
}

// MODAL
.modal-dialog-large {
    max-width: 800px !important;
}

// SELECT
select:disabled {
    background-color: revert !important;
    --bs-form-select-bg-img: none !important;
}

// LINE DIVIDER
.line {
    border: 1px solid rgba($color: $gray, $alpha: 0.5);
    border-radius: 9999px;
    border-width: 0.5px !important;
}

// CERCHIO COLORE
.color-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid $gray;
}