// SECTION
section {
    padding: 40px 0;

    .title-section {
        text-transform: uppercase;
        text-align: center;
        font-size: calc(1.305rem + 0.66vw);
        font-weight: bold;
    }
}

// CARD
.card {
    background-color: $light-gray;
}

.card-login {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    background-color: $light-gray;
    border: 0;
    padding-bottom: 24px;
    box-shadow: 0 0.125rem 0.25rem rgba($color: $black, $alpha: 0.075);
}

.card-product {
    max-width: none;

    .image-product {
        min-height: 410px;
        max-height: 410px;
        overflow: hidden;

        img {
            width: 100%;
            max-width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
        }

        .wrapper-badges {
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }
    }
    
    .carousel-inner {
        max-width: 100%;
    }

    @media screen and (max-width: 576px) {
        max-width: max-content;
        margin: 0 auto;

        .image-product {
            max-width: 350px;
            height: auto;
        }
    }
}

// MODAL
.modal-dialog-large {
    max-width: 800px !important;
}

// SELECT
select:disabled {
    background-color: revert !important;
    --bs-form-select-bg-img: none !important;
}

// LINE DIVIDER
.line {
    border: 1px solid rgba($color: $gray, $alpha: 0.5);
    border-radius: 9999px;
    border-width: 0.5px !important;
}