#shop {
    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: 1rem;

        .dropdown-filter-genres,
        .dropdown-filter-categories,
        .dropdown-filter-sizes,
        .dropdown-filter-colors,
        .dropdown-filter-order-by {
            .dropdown-menu {
                max-height: 200px;
                overflow-y: auto;
            }
        }
    }

    .actions {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin-bottom: .625rem;
    }
}