// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Utils
@import './guest/utils/common.scss';

// Components
@import './components/guest/navbar.scss';
@import './components/guest/hero.scss';
@import './components/guest/footer.scss';

// Guest views
@import './guest/home.scss';
@import './guest/cartShop.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

a {
    text-decoration: none;
}

section {
    padding: 40px 0;

    .title-section {
        text-transform: uppercase;
        text-align: center;
        font-size: calc(1.305rem + 0.66vw);
        font-weight: bold;
    }
}