// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Sweetalert 2
@import 'sweetalert2/src/sweetalert2.scss';

// Colors
@import './colors.scss';

// Utils
@import './utils/guest/common.scss';

// Components
@import './components/guest/loaderPage.scss';
@import './components/guest/navbar.scss';
@import './components/guest/hero.scss';
@import './components/guest/footer.scss';
@import './components/guest/productCard.scss';

// Guest views
@import './guest/home.scss';
@import './guest/cartShop.scss';
@import './guest/products/shop.scss';
@import './guest/products/show.scss';


* {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

#app {
    height: 100%;
    overflow-y: auto;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: initial;
    width: max-content;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}