#hero {
    height: 600px;
    background: url('/storage/uploads/images/hero-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color: $black, $alpha: 0.45);
        z-index: 0;
    }

    .hero-text {
        position: relative;
        z-index: 1;

        h1 {
            font-size: 2rem;
            line-height: 1.5;
            letter-spacing: 0.03em;
            filter: drop-shadow(0 2px 4px rgba($color: $black, $alpha: 0.5));
            margin: 0;
            margin-bottom: 1.5rem;
            color: var(--bs-white);
        }

        .btn {
            font-size: 1.2rem;
            padding: 0.75rem 1.5rem;
            border-radius: 30px;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}