#nav-guest {
    width: 100%;
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $light-gray;
    color: $white;

    .navbar-brand {
        display: block;
        width: 120px;
        padding: 0;
        margin: 0;
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-weight: bold;
                    letter-spacing: 0.05em;
                    color: $gray;
                    transition: color 0.3s ease;
                    width: max-content;

                    &.active,
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
}