// CARD
.card {
    background-color: $light-gray;
}

// INPUTS
input,
textarea {
    &:read-only {
        background-color: #ebe9e9 !important;
    }
}

textarea {
    height: 110px;
    overflow-y: auto;
    resize: none;
}