// CARD
.card {
    background-color: $light-gray;
}

// INPUT SEARCH
#searchInput {
    max-width: 300px;
}

// INPUTS
input:not(input[type="checkbox"]),
textarea,
select {
    &:read-only,
    &:disabled {
        background-color: #ebe9e9 !important;
    }
}

textarea {
    height: 110px;
    overflow-y: auto;
    resize: none;
}