// sidebar
$sidebar-width: 240px;
$sidebar-color: var(--bs-secondary-bg);
$sidebar-link-color: $gray;
$sidebar-link-color-hover: $black;

// mainbar
$mainbar-height: 56px;
$hamburger-menu-color: $white;